@use '../components/film-serie-card' as *;
@use '../variables' as *;
@use "../components/home-card";
@use "sass:color";
@use '../mixins' as *;

body {
  background-color: $background-color_1;
  margin: 0;
  font-family: $font-family_1;
}

@include navigation;
.hero {
  position: relative;
  height: 130vh;
  background: url('/public/img/f1 affiche.png') no-repeat center center/cover;
  color: $color_1;
  display: flex;
  align-items: center;
  padding: 50px;
  border-bottom: 2.5px solid white;
  margin-bottom: 10px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
  }

  .hero-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    button {
      border: none;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 4px;
      transition: all 0.3s ease;
    }

    .play-btn {
      background: $color_7;
      color: $color_2;

      &:hover {
        background: color.adjust($color_7, $lightness: -10%);
      }
    }

    .like-btn,
    .dislike-btn {
      background: rgba(255,255,255,0.2);
      color: $color_1;
      font-size: 18px;
      padding: 10px 15px;

      &:hover {
        background: rgba(255,255,255,0.4);
      }
    }
  }

  h1 {
    font-size: 3rem;
    margin: 0 0 20px 0;
  }
}

.continue-watching {
  padding: 50px 20px 80px;
  background: transparent;
  color: $color_1;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
}

.movies {
  padding: 10px 20px;
  background: #445a63;
  border-bottom: 2.5px solid white;
  z-index: 10;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: $color_1;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 170px 20px;
    background-position: center;
    background-size: cover;

    .hero-content {
      max-width: 100%;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .hero-buttons {
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 10px;
      margin-bottom: 25px;

      button {
        width: 80%;
        font-size: 1rem;
        padding: 10px 15px;
      }
    }
  }

  .continue-watching {
    padding: 30px 15px 50px;
    text-align: center;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
  }

  .movies {
    padding: 15px;
    text-align: center;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }
}




@include footer;


